.navbar__background {
  background: rgba(0, 0, 0, 0.9);
}

.navbar__link {
  text-decoration: none !important;
  color: white !important;
  border-bottom: none !important;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .navbar__logo {
    width: 50px;
    height: 25px;
  }

  .navbar__custom {
    padding: 0 0;
  }
}

@media only screen and (min-width: 320px) {
  .navbar__logo {
    width: 50px;
    height: 25px;
  }

  .navbar__custom {
    padding: 0 0;
  }

  .navbar__link:hover {
    text-decoration: none !important;
    transition: 0.5s !important;
    padding-bottom: 1px !important;
    border-bottom: 1px solid white !important;
  }

  .nav-item-custom {
    padding: 20px 0;
  }
}

@media only screen and (min-width: 568px) {
  .navbar__logo {
    width: 75px;
    height: 37.5px;
  }
}

@media only screen and (min-width: 1244px) {
  .navbar__logo {
    width: 100px;
    height: 50px;
  }

  .navbar__custom {
    padding: 0 80px;
  }

  .navbar__link:hover {
    text-decoration: none !important;
    transition: 0.5s !important;
    padding-bottom: 5px !important;
    border-bottom: 1px solid white !important;
  }
}
