.login {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background: #f9f6f7;
}

.login__heading {
  font-size: 2em;
  text-align: center;
  padding: 0 0 20px 0;
}

.login__form {
  width: 30%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 50px;
  background: #fff;
}

/* Desktop small screen */
@media only screen and (min-width: 320px) {
  .login__form {
    width: 75%;
  }
}

/* Desktop medium screen */
@media only screen and (min-width: 567px) {
  .login__form {
    width: 65%;
  }
}

@media only screen and (min-width: 768px) {
  .login__form {
    width: 50%;
  }
}

@media only screen and (min-width: 990px) {
  .login__form {
    width: 40%;
  }
}

@media only screen and (min-width: 1244px) {
  .login__form {
    width: 30%;
  }
}
