.dokumen__heading {
  text-transform: uppercase;
  text-align: center;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* Desktop small screen */
@media only screen and (min-width: 320px) {
  .dokumen__client {
    padding: 0 50px 50px 50px;
  }

  .dokumen__heading {
    padding: 0 50px;
    margin-top: 50px;
    font-size: 1.5em;
  }
}

/* Desktop medium screen */
@media only screen and (min-width: 768px) {
  .dokumen__client {
    padding: 0 100px 100px 100px;
  }

  .dokumen__heading {
    padding: 0 100px;
    margin-top: 50px;
    font-size: 2em;
  }
}

/* Desktop medium screen */
@media only screen and (min-width: 970px) {
  .dokumen__client {
    padding: 0;
  }

  .dokumen__heading {
    padding: 0 150px;
    margin-top: 50px;
  }
}

/* Desktop medium screen */
@media only screen and (min-width: 1244px) {
  .dokumen__client {
    padding: 0 150px 150px 150px;
  }

  .dokumen__heading {
    padding: 0 150px;
    margin-top: 50px;
    font-size: 2.5em;
  }
}
