.anggota {
  display: flex;
}

.anggota__sidebar {
  width: 20%;
}

.anggota__content {
  width: 80%;
  padding: 80px 50px;
}

.form {
  width: 70%;
  margin: 0 auto;
}

.anggota__heading {
  font-size: 2em;
  text-align: center;
  padding: 0 0 30px 0;
}

/* Desktop small screen */
@media only screen and (min-width: 320px) {
  .anggota__sidebar {
    width: 0;
  }
  .anggota__content {
    width: 100%;
    padding: 0;
  }

  .anggota__heading {
    padding: 30px 0;
    text-align: center;
    font-size: 2em;
  }
}

/* Desktop medium screen */
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1244px) {
  .anggota__sidebar {
    width: 20%;
  }
  .anggota__content {
    width: 80%;
    padding: 100px;
  }
  .anggota__heading {
    padding: 0 0 30px 0;
    text-align: center;
    font-size: 2em;
  }
}
