.event__client {
  padding: 0 50px 50px 50px;
}

.event__heading {
  padding: 0 50px;
  text-transform: uppercase;
  margin-top: 50px;
  text-align: center;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* Desktop small screen */
@media only screen and (min-width: 320px) {
  .event__heading {
    font-size: 2em;
  }
}

/* Desktop medium screen */
@media only screen and (min-width: 768px) {
  .event__heading {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 1244px) {
  .event__client {
    padding: 0 150px 150px 150px;
  }

  .event__heading {
    padding: 0 150px;
    text-transform: uppercase;
    margin-top: 50px;
    text-align: center;
  }

  .event__heading {
    font-size: 2.5em;
  }
}
