.anggota__heading {
  text-transform: uppercase;
  padding: 0 150px;
  margin-top: 50px;
  text-align: center;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* Desktop small screen */
@media only screen and (min-width: 320px) {
  .anggota__client {
    padding: 0 50px 50px 50px;
  }
  .anggota__heading {
    font-size: 1.5em;
    padding: 0 50px;
  }
}

@media only screen and (min-width: 568px) {
  .anggota__client {
    padding: 0 100px 100px 100px;
  }
  .anggota__heading {
    font-size: 1.5em;
    padding: 0 100px;
  }
}

@media only screen and (min-width: 768px) {
  .anggota__client {
    padding: 0 50px 50px 50px;
  }
  .anggota__heading {
    font-size: 2em;
    padding: 0 100px;
  }
}

@media only screen and (min-width: 990px) {
  .anggota__client {
    padding: 0;
  }
}

/* Desktop medium screen */
@media only screen and (min-width: 1224px) {
  .anggota__client {
    padding: 0 120px 120px 120px;
  }

  .anggota__heading {
    font-size: 2.5em;
    text-transform: uppercase;
    margin-top: 50px;
    text-align: center;
  }
}
