.sidebar {
  background: rgba(34, 34, 34, 0.9);
  position: absolute;
  min-height: 100%;
  width: 20%;
  color: white;
}

.sidebar__logo {
  padding: 20px;
}

.sidebar__image {
  width: 75px;
}

.sidebar__user {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
}

.sidebar__logo__text {
  font-size: 1em;
  font-weight: 700;
  margin-left: 15px;
}

.sidebar__avatar {
  border-radius: 50%;
  width: 75px;
}

.sidebar__avatar__text {
  margin-left: 20px;
  font-size: 1em;
}

.sidebar__nav-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar__nav-item {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
}

.sidebar__nav-item:hover {
  background: rgb(104, 104, 104);
}

.sidebar__nav-link {
  padding: 20px;
  width: 90%;
  list-style: none;
  text-decoration: none;
  color: rgb(236, 232, 232);
}

.sidebar__nav-link:hover {
  text-decoration: none;
  color: rgb(236, 232, 232);
}

.sidebar__textLink {
  margin-left: 40px;
}

.sidebar__icon {
  width: 20px;
}

.sidebar__logoLink {
  color: rgb(236, 232, 232);
  text-decoration: none;
}

.sidebar__logoLink:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar__background {
  background: rgba(0, 0, 0, 0.9);
}

.navbar__link {
  text-decoration: none !important;
  color: white !important;
  border-bottom: none !important;
}

@media only screen and (min-width: 1244px) {
  .sidebar__logo__text {
    font-size: 1em;
    font-weight: 500;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 1278px) {
  .sidebar__logo__text {
    font-size: 1em;
    font-weight: 700;
    margin-left: 20px;
  }
}
