.dashboard {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.dashboard__sidebar {
  width: 20%;
}

.dashboard__content {
  width: 80%;
  padding: 50px;
}

.dashboard__heading {
  font-size: 2em;
  padding: 0 0 30px 0;
}

.dashboard__card {
  width: 350px;
  height: 175px;
  border-radius: 10px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
}

.dashboard__card__bg1 {
  background: #17a2b8;
}

.dashboard__card__bg2 {
  background: #28a745;
}

.dashboard__card__bg3 {
  background: #ffc107;
}

.dashboard__card__item {
  display: flex;
  justify-content: space-between;
}

.dashboard__card__itemName,
.dashboard__card__itemNumber {
  color: white;
  font-size: 2em;
}

.dashboard__card__itemName {
  font-weight: 500;
}

.dashboard__card__icon {
  padding: 0 20px;
  font-size: 125px;
  opacity: 0.3;
}

.dashboard__card__icon:hover {
  transition: 0.6s;
  font-size: 130px;
  opacity: 0.5;
}

.dashboard__link {
  color: white;
  border-bottom: 1px solid white;
  width: 70%;
}

.dashboard__link:hover {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}

.dashboard__latest {
  padding: 50px 0;
}

@media only screen and (min-width: 320px) {
  .dashboard__sidebar {
    width: 0;
  }
  .dashboard__heading {
    padding: 30px;
  }
  .dashboard__content {
    padding: 0;
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  .dashboard__button {
    margin: 0 0 30px 30px;
  }

  .dashboard__card {
    margin: 5px auto;
    width: 95%;
  }

  .dashboard__latest {
    padding: 10px;
  }
}

@media only screen and (min-width: 567px) {
  .dashboard__sidebar {
    width: 0;
  }
  .dashboard__heading {
    padding: 30px 90px;
  }
  .dashboard__content {
    padding: 0;
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  .dashboard__button {
    margin: 0 0 30px 90px;
  }

  .dashboard__card {
    margin: 5px auto;
    width: 75%;
  }

  .dashboard__latest {
    padding: 10px;
  }
}

@media only screen and (min-width: 767px) {
  .dashboard__sidebar {
    width: 0;
  }
  .dashboard__heading {
    padding: 30px 30px;
  }
  .dashboard__content {
    padding: 0;
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  .dashboard__button {
    margin: 0 0 30px 10px;
  }

  .dashboard__card {
    margin: 0;
    width: 100%;
  }

  .dashboard__latest {
    padding: 0px 30px;
  }

  .dashboard__card__content {
    padding: 10px 30px;
    margin: 0;
  }

  .dashboard__button {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 990px) {
  .dashboard__card__icon {
    padding: 0;
    font-size: 6.5em;
  }
}

@media only screen and (min-width: 1244px) {
  .dashboard {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .sidebar {
    display: inline-block;
  }

  .navbar__visibility {
    display: none;
  }

  .dashboard__sidebar {
    width: 20%;
  }

  .dashboard__content {
    width: 80%;
    padding: 50px;
  }

  .dashboard__heading {
    font-size: 2em;
    padding: 0 0 30px 10px;
  }

  .dashboard__card {
    width: 100%;
    height: 175px;
    border-radius: 10px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
  }

  .dashboard__card__content {
    padding: 0 10px;
    margin: 0;
  }

  .dashboard__card__icon {
    font-size: 6em;
  }

  .dashboard__button {
    margin-left: 10px;
  }
}
