.changePassword {
  display: flex;
  width: 100%;
}

.changePassword__sidebar {
  width: 20%;
}

.changePassword__content {
  width: 80%;
  padding: 100px;
}

.changePassword__heading {
  font-size: 2em;
  padding: 30px;
  text-align: center;
}

.changePassword__form {
  width: 75%;
  margin: 0 auto;
}

/* Desktop small screen */
@media only screen and (min-width: 320px) {
  .changePassword__sidebar {
    width: 0;
  }
  .changePassword__content {
    width: 100%;
    padding: 0;
  }

  .changePassword__heading {
    padding: 30px 0;
    text-align: center;
    font-size: 2em;
  }
}

/* Desktop medium screen */
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1244px) {
  .changePassword__sidebar {
    width: 20%;
  }
  .changePassword__content {
    width: 80%;
    padding: 100px;
  }
  .changePassword__heading {
    padding: 0 0 30px 0;
    text-align: center;
    font-size: 2em;
  }
}
