.landing {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9)
    ),
    url("../assets/images/landing-bg.jpg");
  background-position: center;
  background-size: cover;
}

.landing__event {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  width: 100%;
  height: 70vh;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.link-hover:hover .image {
  opacity: 0.3;
}

.link-hover:hover .middle {
  opacity: 1;
}

.btn-size {
  width: 300px;
  height: 75px;
}

.event__latest {
  font-size: 2em;
}

.landing__button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(40, 12, 117, 0.7);
  margin-top: 10px;
  width: 300px;
  height: 50px;
  opacity: 0.7;
}

.landing__button:hover {
  color: white;
  opacity: 1;
}

.landingEvent__noData {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(142, 178, 255);
}

.contact__icon {
  width: 50px;
  font-size: 2em;
}

.contact__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}

.contact__span {
  font-size: 1.2em;
  font-weight: 500;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .landing {
    height: 80vh;
  }
  .landing__text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .landing__about {
    padding: 20px;
  }

  .about__text {
    padding: 20px;
    background: rgba(209, 207, 207, 0.2);
  }

  .image {
    height: 50vh;
  }

  .btn-size {
    width: 200px;
    height: 50px;
  }

  .event__latest {
    font-size: 1.5em;
  }

  .contact__text,
  .contact__form {
    padding: 20px;
  }

  .landing__heading {
    font-size: 2em;
    letter-spacing: 0.1em;
  }
  .landing__slogan {
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 0.15em;
  }

  .landing__button {
    margin-top: 10px;
    width: 120px;
    height: 40px;
  }

  .middle {
    opacity: 0.7;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .landing {
    height: 90vh;
  }

  .landing__text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .landing__heading {
    font-size: 4em;
    letter-spacing: 0.1em;
  }
  .landing__slogan {
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: 0.15em;
  }

  .landing__button {
    color: white;
    background: rgba(40, 12, 117, 0.7);
    margin-top: 10px;
    width: 200px;
    height: 50px;
  }

  .landing__about {
    padding: 50px;
  }

  .about__text {
    padding: 20px;
    background: rgba(209, 207, 207, 0.2);
  }

  .landing__contact {
    padding: 40px;
  }

  .contact__text {
    padding: 20px;
  }
  .contact__form {
    padding: 20px;
  }

  .middle {
    opacity: 0.7;
  }
}

/* Desktop small screen */
@media only screen and (min-width: 320px) {
  .landing {
    height: 80vh;
  }
  .landing__text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .landing__about {
    padding: 20px;
  }

  .about__text {
    padding: 20px;
    background: rgba(209, 207, 207, 0.2);
  }

  .image {
    height: 50vh;
  }

  .btn-size {
    width: 200px;
    height: 50px;
  }

  .event__latest {
    font-size: 1.5em;
  }

  .contact__text,
  .contact__form {
    padding: 20px;
  }

  .landing__heading {
    font-size: 2em;
    letter-spacing: 0.1em;
  }
  .landing__slogan {
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 0.15em;
  }

  .landing__button {
    margin-top: 10px;
    width: 120px;
    height: 40px;
  }
}

/* Desktop medium screen */
@media only screen and (min-width: 768px) {
  .landing {
    height: 90vh;
  }

  .landing__text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .landing__heading {
    font-size: 4em;
    letter-spacing: 0.1em;
  }
  .landing__slogan {
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: 0.15em;
  }

  .landing__button {
    color: white;
    background: rgba(40, 12, 117, 0.7);
    margin-top: 10px;
    width: 200px;
    height: 50px;
  }

  .landing__about {
    padding: 50px;
  }

  .about__text {
    padding: 20px;
    background: rgba(209, 207, 207, 0.2);
  }

  .landing__contact {
    padding: 40px;
  }

  .contact__text {
    padding: 20px;
  }
  .contact__form {
    padding: 20px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .landing {
    position: relative;
  }
  .landing__text {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-left: 150px;
    position: absolute;
  }

  .landing__heading {
    font-size: 4em;
    letter-spacing: 0.2em;
  }

  .landing__slogan {
    font-size: 2em;
    letter-spacing: 0.4em;
  }

  .landing__button {
    width: 200px;
    height: 50px;
    color: white;
  }

  .landing__about {
    padding: 50px;
  }

  .about__text {
    padding: 50px;
    background: rgba(209, 207, 207, 0.2);
  }

  .about__content {
    font-size: 1.5em;
    padding: 50px 150px;
  }

  .landing__contact {
    padding: 50px;
  }

  .contact__text {
    padding: 50px;
  }

  .contact__form {
    padding: 50px 150px 50px 50px;
  }

  .form__contact {
    margin-top: 20px;
  }

  .image {
    height: 70vh;
  }
}
