.view {
  display: flex;
  width: 100%;
}

.view__sidebar {
  width: 20%;
}

.view__content {
  width: 80%;
  padding: 50px;
}

.view__heading {
  font-size: 2em;
  text-align: center;
}

@media only screen and (min-width: 320px) {
  .view__content {
    width: 100%;
    padding: 0;
  }

  .view__heading {
    padding-top: 30px;
  }

  .view__table {
    padding: 10px;
  }

  .view__sidebar {
    width: 0;
  }
}

@media only screen and (min-width: 1244px) {
  .view__content {
    width: 80%;
    padding: 50px;
  }

  .view__sidebar {
    width: 20%;
  }
}
