/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* Desktop small screen */
@media only screen and (min-width: 320px) {
}

/* Desktop medium screen */
@media only screen and (min-width: 768px) {
}
