.event {
  width: 100%;
  display: flex;
}

.event__sidebar {
  width: 20%;
}

.event__content {
  padding: 100px;
  width: 80%;
}

.event__form {
  width: 75%;
  margin: 0 auto;
}

/* Desktop small screen */
@media only screen and (min-width: 320px) {
  .event__sidebar {
    width: 0;
  }
  .event__content {
    width: 100%;
    padding: 0;
  }

  .event__heading {
    padding: 30px 0;
    text-align: center;
    font-size: 2em;
  }
}

/* Desktop medium screen */
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1244px) {
  .event__sidebar {
    width: 20%;
  }
  .event__content {
    width: 80%;
    padding: 100px;
  }
  .event__heading {
    padding: 0 0 30px 0;
    text-align: center;
    font-size: 2em;
  }
}
