.booking {
  width: 50%;
  margin: 50px auto;
  padding-bottom: 50px;
}

.booking__heading {
  font-size: 2em;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* Desktop small screen */
@media only screen and (min-width: 320px) {
  .booking {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .booking {
    width: 50%;
  }

  .booking__heading {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 1244px) {
  .booking {
    width: 50%;
  }
}
