.eventDetail__image {
  width: 100%;
  height: 70vh;
}

.eventDetail__beli {
  padding-bottom: 50px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

@media only screen and (min-width: 320px) {
  .eventDetail__content {
    padding: 25px;
  }

  .eventDetail__title {
    font-size: 2em;
    font-weight: 700;
  }

  .eventDetail__detail {
    font-size: 1.3em;
    margin-top: 10px;
  }

  .eventDetail__heading {
    margin-top: 30px;
    font-size: 2em;
  }

  .eventDetail__span {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 568px) {
}

@media only screen and (min-width: 991px) {
  .eventDetail {
    padding: 0 50px;
  }

  .eventDetail__content {
    padding: 50px 100px 50px 100px;
    background: rgba(247, 247, 245, 0.6);
  }
}

@media only screen and (min-width: 1244px) {
  .eventDetail {
    padding: 0 150px;
  }

  .eventDetail__title {
    font-size: 2.5em;
  }

  .eventDetail__icon {
    width: 50px;
  }
}
