.dokumen {
  width: 100%;
  display: flex;
}

.dokumen__sidebar {
  width: 20%;
}

.dokumen__content {
  width: 80%;
  padding: 100px;
}

.dokumen__heading {
  padding: 0 0 30px 0;
  font-size: 2em;
  text-align: center;
}

.dokumen__form {
  width: 75%;
  margin: 0 auto;
}

/* Desktop small screen */
@media only screen and (min-width: 320px) {
  .dokumen__sidebar {
    width: 0;
  }
  .dokumen__content {
    width: 100%;
    padding: 0;
  }

  .dokumen__heading {
    padding: 30px 0;
    text-align: center;
    font-size: 2em;
  }
}

/* Desktop medium screen */
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1244px) {
  .dokumen__sidebar {
    width: 20%;
  }
  .dokumen__content {
    width: 80%;
    padding: 100px;
  }
  .dokumen__heading {
    padding: 0 0 30px 0;
    text-align: center;
    font-size: 2em;
  }
}
