/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* Desktop small screen */
@media only screen and (min-width: 320px) {
  .cardDokumen__pdf {
    padding-top: 50px;
    font-size: 250px;
    color: red;
  }

  .cardDokumen__word {
    padding-top: 50px;
    font-size: 250px;
    color: rgb(0, 81, 255);
  }

  .cardDokumen__button {
    width: 100%;
  }
}

/* Desktop small screen */
@media only screen and (min-width: 568px) {
  .cardDokumen__file {
    padding-top: 50px;
    font-size: 250px;
    color: red;
  }

  .cardDokumen__button {
    width: 75%;
  }
}

/* Desktop medium screen */
@media only screen and (min-width: 768px) {
  .cardDokumen__button {
    width: 75%;
  }
}
